html{
    height: 100%;
}
body{
    width: 100%;
    background-image: linear-gradient(rgba(160, 95, 190, 0.774) , rgba(77, 136, 204, 0.774) , rgba(39, 135, 180, 0.76));
    
}
.title{
    text-align: center;
    color: white;

}
.Button{
    color: white;
    background-color: #7370e0;
    border-radius: 10px;
    border-color: #7370e0;
    border-style: solid;
    height: 70px;
    width: 250px;
    font-size: 30px;
    font-family: Archivo Narrow;
    margin-top: 160px;
    transition: transform .2s;
}
.Button:hover{
    transform: scale(1.2);
}
.show2{
    display:none;
}
.textborder{
    width: 46vw;
    height: 33.9vw;
    background-color: rgba(168, 26, 187, 0.287);
    border-radius: 30px;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(0%);
    vertical-align: middle;

}
.title2{
    margin-top: 40px;
    color: white;
    font-size: 3vw;
}
.textwall{
    color: white;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 2vw;
    
}

.arrow{
    width: 5%;
    height: 5%;
    transition: transform .2s;
    margin-top: -8;
}
.arrow:hover{
    transform: scale(1.5);
}
#logo{
    height: 3em;

    
}
.navbar{
    font-family: Source code pro;
    background-color: #2E4154;
    color: white;
    
 
}
.nav-link{
    color: white;

}

.nav-item{
    margin: auto;
    
}

.nav-text{
    margin-left: 5em;
   
}

.nav-login{
   
}
.show3{
    display: none;
}
.ButtonMed{
    color: white;
    background-color: #7370e0;
    border-radius: 10px;
    border-color: #7370e0;
    border-style: solid;
    height: 70px;
    width: 40vw;
    font-size: 30px;
    font-family: Archivo Narrow;
    margin-top: 30px;
    transition: transform .2s;
}
.ButtonMed:hover{
    transform: scale(1.1);
}

